<tr class="{{ rowClass }}">
    <td class="body col_0 col_first">{{ model.firstname }}</td>
    <td class="body col_1">{{ model.lastname }}</td>
    <td class="body col_2 col_last">{{ model.street }}</td>
    <td class="body col_3 col_last">{{ model.postal }}</td>
    <td class="body col_4 col_last">{{ model.city }}</td>
</tr>
